services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio-data:/data
    environment:
      MINIO_ROOT_USER : minioadmin
      MINIO_ROOT_PASSWORD : minioadmin
    command: server /data --console-address ":9001"
    networks:
      - datalake-net

  hive-metastore:
    hostname: hive-metastore
    container_name: hive-metastore
    build:
      context: .
      dockerfile: hive-metastore/Dockerfile
    ports:
      - "9083:9083"
      - "10000:10000"
    environment:
      HIVE_METASTORE_URI: thrift://hive-metastore:9083
      HIVE_METASTORE_HOST: hive-metastore
      HIVE_METASTORE_PORT: 9083
      HIVE_DB_HOST: 172.27.16.1
      HIVE_DB_PORT: 5432
      HIVE_DB_NAME: metastore2
      HIVE_DB_USER: postgres
      HIVE_DB_PASSWORD: postgres
    # command: ["/opt/hive/bin/hive", "--service", "metastore"]
    command: bash /opt/hive/conf/hive-site.xml
    volumes:
      - ./config/hive-site.xml:/opt/hive/conf/hive-site.xml
    networks:
      - datalake-net

  trino:
    build:
      context: .
      dockerfile: trino/Dockerfile
    # build: ./trino
    container_name: trino
    ports:
      - "8080:8080"
    depends_on:
      - hive-metastore
    # volumes:
    #   - ./trino/etc:/usr/lib/trino/etc
    #   - ./trino/catalog:/usr/lib/trino/etc/catalog
      # - ./trino/etc/hadoop/core-site.xml:/etc/hadoop/conf/core-site.xml    
    networks:
      - datalake-net

  # superset:
  #   build: ./superset
  #   container_name: superset
  #   ports:
  #     - "8088:8088"
  #   environment:
  #     SUPERSET_SECRET_KEY: supersecret
  #     SQLALCHEMY_DATABASE_URI: postgresql://postgres:postgres@172.27.16.1:5432/superset
  #   entrypoint:
  #   - /bin/bash
  #   - -c
  #   - |
  #     /init-superset-db.sh
  #   # depends_on:
  #   #   - superset-db
  #   volumes:
  #     - ./superset/superset_config.py:/app/pythonpath/superset_config.py
  #   networks:
  #       - hive-net
  
  spark:
    build: ./spark
    container_name: spark
    environment:
      SPARK_MODE: master
      SPARK_MASTER_HOST: spark
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    ports:
      - "8188:8188"
      - "7077:7077"
    volumes:
      - ./spark/conf/spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf:ro
      - ./spark/python_script:/opt/bitnami/spark/python_script
    depends_on:
      - hive-metastore
      - minio
    networks:
      - datalake-net

# volumes:
#   spark:
  # minio_data:
  # postgres_data:
  # trino_config:
  # superset_db_data:

networks:
  datalake-net:
    external: true
