services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio-data:/data
    environment:
      MINIO_ROOT_USER : minioadmin
      MINIO_ROOT_PASSWORD : minioadmin
    command: server /data --console-address ":9001"
    networks:
      - hive-net

  hive-metastore:
    build: ./hive-metastore
    container_name: hive-metastore
    ports:
      - "9083:9083"
    environment:
      - HIVE_METASTORE_URI=thrift://hive-metastore:9083
      - HIVE_METASTORE_HOST=hive-metastore
      - HIVE_METASTORE_PORT=9083
      - HIVE_DB_HOST=172.27.16.1
      - HIVE_DB_PORT=5432
      - HIVE_DB_NAME=metastore
      - HIVE_DB_USER=postgres
      - HIVE_DB_PASSWORD=postgres    
    # depends_on:
    #   - postgres
    networks:
      - hive-net
    command: ["/opt/hive/bin/hive", "--service", "metastore"]
    volumes:
      - ./hive-metastore/hive-site.xml:/opt/hive/conf/hive-site.xml

  hive-server:
    build: ./hive-server
    container_name: hive-server
    depends_on:
      - hive-metastore
    ports:
      - "10000:10000"  # HiveServer2 JDBC
    environment:
      HIVE_SERVER2_THRIFT_PORT: 10000
      HIVE_METASTORE_URI: thrift://hive-metastore:9083
      HIVE_DB_HOST: 172.27.16.1
      HIVE_DB_PORT: 5432
      HIVE_DB_NAME: metastore
      HIVE_DB_USER: postgres
      HIVE_DB_PASSWORD: postgres    

    command: ["/opt/hive/bin/hiveserver2", "--service", "hiveserver2"]
    volumes:
      - ./hive-server/hive-site.xml:/opt/hive/conf/hive-site.xml
    networks:
      - hive-net

  # postgres:
  #   image: postgres:13
  #   container_name: postgres
  #   environment:
  #     POSTGRES_USER: hive
  #     POSTGRES_PASSWORD: hive
  #     POSTGRES_DB: metastore
  #   ports:
  #     - 7432:5432
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   networks:
  #     - hive-net

  # trino:
  #   build: ./trino
  #   container_name: trino
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     - hive-metastore
  #   volumes:
  #     - ./trino/etc/:/etc/trino
  #   networks:
  #     - hive-net

  # superset:
  #   build: ./superset
  #   container_name: superset
  #   ports:
  #     - "8088:8088"
  #   environment:
  #     SUPERSET_SECRET_KEY: supersecret
  #     SQLALCHEMY_DATABASE_URI: postgresql://postgres:postgres@172.27.16.1:5432/superset
  #   entrypoint:
  #   - /bin/bash
  #   - -c
  #   - |
  #     /init-superset-db.sh
  #   # depends_on:
  #   #   - superset-db
  #   volumes:
  #     - ./superset/superset_config.py:/app/pythonpath/superset_config.py
  #   networks:
  #       - hive-net
  
  # superset-db:
  #   image: postgres:13
  #   container_name: superset-db
  #   environment:
  #     POSTGRES_USER: superset
  #     POSTGRES_PASSWORD: superset
  #     POSTGRES_DB: superset
  #   volumes:
  #     - superset_db_data:/var/lib/postgresql/data
  #   networks:
  #     - hive-net

  spark:
    build: ./spark
    container_name: spark
    environment:
      SPARK_MODE: master
      SPARK_MASTER_HOST: spark
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./spark/conf/spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf:ro
      - ./spark/python_script:/opt/bitnami/spark/python_script
    depends_on:
      - hive-metastore
      - minio
    networks:
        - hive-net

volumes:
  spark:
  # minio_data:
  # postgres_data:
  # trino_config:
  # superset_db_data:

networks:
  hive-net:
    driver: bridge